name: "godot-android-export"
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  export-android:
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:4.2.1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Android SDK
        run: |
          mkdir -p ~/.android
          touch ~/.android/repositories.cfg

      - name: Download Godot Templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates/4.2.1.stable
          wget https://github.com/godotengine/godot/releases/download/4.2.1-stable/Godot_v4.2.1-stable_export_templates.tpz
          unzip Godot_v4.2.1-stable_export_templates.tpz
          mv templates/* ~/.local/share/godot/export_templates/4.2.1.stable/
          rm Godot_v4.2.1-stable_export_templates.tpz

      - name: Export Android
        run: |
          mkdir -v -p build/android
          godot --headless --path . --export-release "Android" build/android/clawgame.apk
